<form [formGroup]="loginForm" (submit)="onSubmitLogin()" class="login-form shadow">
  <img src="http://localhost:3001/img/ford.png" alt="Ford Logo" class="form-logo">
  <h2 class="form-title">Boas-Vindas</h2>

  <div class="mb-3">
    <input formControlName="nome" type="text" class="form-control" id="userInput" placeholder="Login" required>
  </div>

  <div class="mb-3">
    <input formControlName="senha" type="password" class="form-control" id="passwordInput" placeholder="Senha" required>
  </div>

  <button type="submit" class="btn btn-primary w-100">ENTRAR</button>
</form>