<table class="table">
  <thead>
    <tr>
      <th>CÓDIGO VIN</th>
      <th>ODÔMETRO</th>
      <th>COMBUSTÍVEL</th>
      <th>STATUS</th>
      <th>LAT.</th>
      <th>LONG.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="vehicleData">
      <td>--</td> <td>{{ vehicleData.odometro }} Km</td>
      <td>{{ vehicleData.nivelCombustivel }} %</td>
      <td>{{ vehicleData.status | uppercase }}</td>
      <td>{{ vehicleData.lat }}</td>
      <td>{{ vehicleData.long }}</td>
    </tr>
    <tr *ngIf="!vehicleData">
      <td colspan="6" class="no-data">Nenhum veículo encontrado.</td>
    </tr>
  </tbody>
</table>