 <table class="mt-2 table">
        <thead>
            <tr>
                <th>VIN</th>
                <th>ODOMETRO</th>
                <th>NÍVEL DO COMBUSTÍVEL</th>
                <th>STATUS</th>
                <th>LAT</th>
                <th>LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text">
                </td>
                <td class="p-3">80000Km</td>
                <td class="p-3">90%</td>
                <td class="p-3">ON</td>
                <td class="p-3">80000Km</td>
                <td class="p-3">80000Km</td>
            </tr>
        </tbody>
    </table>
